<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <filter>
        <filter-name>nameFilter</filter-name>
        <filter-class>ua.spalah.servlets.NameFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>nameFilter</filter-name>
        <url-pattern>/some/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>basicServlet</servlet-name>
        <servlet-class>ua.spalah.servlets.BasicHttpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>basicServlet</servlet-name>
        <url-pattern>/some/url</url-pattern>
    </servlet-mapping>
</web-app>
