<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <servlet>
        <servlet-name>basicServlet</servlet-name>
        <servlet-class>ua.spalah.servlets.BasicHttpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>basicServlet</servlet-name>
        <url-pattern>/some-url</url-pattern>
    </servlet-mapping>
</web-app>
