<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Basic example-->
    <servlet>
        <servlet-name>basicServlet</servlet-name>
        <servlet-class>ua.spalah.servlets.BasicHttpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>basicServlet</servlet-name>
        <url-pattern>/some/url</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>nameFilter</filter-name>
        <filter-class>ua.spalah.servlets.NameFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>nameFilter</filter-name>
        <url-pattern>/some/*</url-pattern>
    </filter-mapping>

    <!-- JSP example (test) -->
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>ua.spalah.servlets.TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>


    <!-- JSP example (clients) -->
    <listener>
        <listener-class>ua.spalah.jsp.servlets.ServletContextInitializer</listener-class>
    </listener>

    <servlet>
        <servlet-name>findClientServlet</servlet-name>
        <servlet-class>ua.spalah.jsp.servlets.FindClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>findClientServlet</servlet-name>
        <url-pattern>/client</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editClientServlet</servlet-name>
        <servlet-class>ua.spalah.jsp.servlets.EditClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>editClientServlet</servlet-name>
        <url-pattern>/client/edit</url-pattern>
    </servlet-mapping>
</web-app>
